#app {
  .main-container {
    margin-left: 200px;
    min-height: 100%;
  }
  .sidebar-container {
    width: 200px;
    height: 100%;
    background: $base-menu-background;
    position: fixed;
    .el-menu {
      border: none;
    }
    .svg-icon {
      margin-right: 15px;
    }
  }
  .hideSidebar {
    .main-container {
      margin-left: 54px;
    }
    .sidebar-container {
      width: 54px;
    }
  }
}
